# Fichiers temporaires LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# MacOS
.DS_Store

# Éditeurs
*~
*.swp
*.swo




# Virtual Environment
gestion_agricole_intelligente/.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Environment
gestion_agricole_intelligente/.env

# IDE
.vscode/
.idea/

# Logs
*.log
